#piaic{
    font-size: 50px;
    font-family: monospace;
    color: rgb(70, 67, 67);
}
#full-form{
        text-shadow: 2px 2px 8px #615a5a;
  
}
#head1{
    font-size: 50px;
}
#head2{
    font-size: 35px;
}
#head3{

        font-size: 35px;
  
}
#para{
    font-size: 20px;
}