.body{
  background-color: blanchedalmond;
}
.wrap{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
    width: 300px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    float: left;
    margin: 10px;
}
.btn{
    height: 30px;
    color: white;
    background-color: skyblue;
    float: left;
    margin-left: 8px;
    margin-bottom: 5px;
    border: white;
}
.para-1{
    text-align: justify;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.title{
  text-align: justify;
  
  margin-left: 5px;
  margin-right: 5px;
}